form{
    width:400px;
    margin:30px auto;
    padding:25px;
    border:1px solid #ddd;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,.15);
}

input,
select{
    width:100%;
    padding:10px;
    margin-top:5px;
}

button{
    padding:10px 20px;
}
.ng-invalid.ng-touched {
    border: 2px solid red;
}

.ng-valid.ng-touched {
    border: 2px solid green;
}

.error {
    color: red;
    margin-top: 5px;
}

small {
    display: block;
}
.success {
    color: green;
    margin-top: 20px;
    font-weight: bold;
}