<h2>Reactive Enrollment Form</h2>

<form
    [formGroup]="enrollForm"
    (ngSubmit)="onSubmit()">

    <label>Name</label>

    <input
        type="text"
        formControlName="studentName">

    <br><br>

    <label>Email</label>

    <input
        type="email"
        formControlName="studentEmail">

    <br><br>
    <div
    *ngIf="enrollForm.get('studentEmail')?.hasError('emailTaken')">

    Email already exists.

</div>

<div
    *ngIf="enrollForm.get('studentEmail')?.pending">

    Checking email availability...

</div>

    <label>Course ID</label>

    <input
        type="number"
        formControlName="courseId">

    <br><br>
    <div
    *ngIf="enrollForm.get('courseId')?.hasError('invalidCourseId')">

    Course ID must be at least 100.

</div>

    <label>Semester</label>

    <select formControlName="preferredSemester">

        <option value="Odd">Odd</option>
        <option value="Even">Even</option>

    </select>
    <br><br>
    <h3>Selected Courses</h3>

<div formArrayName="selectedCourses">

  <div
      *ngFor="let control of selectedCourses.controls; let i = index">

      <input
          [formControlName]="i"
          placeholder="Course Name">

      <button
          type="button"
          (click)="removeCourse(i)">

          Remove

      </button>

      <br><br>

  </div>

</div>

<button
    type="button"
    (click)="addCourse()">

    Add Course

</button>

<br><br>

    <label>

        <input
            type="checkbox"
            formControlName="agreeToTerms">

        I agree to Terms & Conditions

    </label>

    <br><br>

    <button
        type="submit"
        [disabled]="enrollForm.invalid">

        Submit

    </button>

</form>